---
import BGAbout4 from "./BGAbout4.astro";

---

<section class="relative overflow-hidden bg-green-sacremento py-22 md:py-25 lg:py-35">
    <div class="w-[12.5rem] absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 md:translate-x-0 lg:translate-y-0"><BGAbout4 /></div>
    <div class="relative z-10 max-w-lg-container mx-auto box-content px-6 md:px-10">
        <h2
            id="about-clients-header"
            class="font-bold text-8 lg:text-12 leading-none text-center"
        >
            Some of our clients
        </h2>
        <ul
            class="mt-16 md:mt-12 lg:mt-16 flex flex-col md:flex-row gap-14 md:gap-12 lg:gap-20 items-center max-w-[10.25rem] md:max-w-none mx-auto"
            aria-labelledby="about-clients-header"
        >
            <li class="w-[9.125rem] md:w-auto">
                <img src="/images/logo-the-verge.png" alt="The Verge" />
            </li>
            <li class="w-[10.125rem] md:w-auto">
                <img
                    src="/images/logo-jakarta-post.png"
                    alt="The Jakarta Post"
                />
            </li>
            <li class="w-[10rem] md:w-auto">
                <img src="/images/logo-the-guardian.png" alt="The Guardian" />
            </li>
            <li class="w-[9.125rem] md:w-auto">
                <img src="/images/logo-tech-radar.png" alt="Tech Radar" />
            </li>
            <li class="w-[5.4375rem] md:w-auto">
                <img src="/images/logo-gadgets-now.png" alt="Gadgets Now" />
            </li>
        </ul>
    </div>
</section>
