---
import CTABG from "./CTABG.astro";

---

<section class="relative overflow-hidden bg-red-coral py-21 md:py-19">
    <div
        class="relative z-10 max-w-md-container lg:max-w-lg-container mx-auto box-content px-6 text-center md:text-start flex flex-col items-center md:flex-row gap-6 md:gap-0 lg:px-24 lg:box-border"
    >
        <h2
            class="font-bold text-8 lg:text-12 leading-none text-green-sacremento"
        >
            Ready to get started?
        </h2>
        <a
            href="/contact"
            class="button primary-dark font-semibold text-18p leading-28/18 px-8 text-center md:ml-auto"
            >contact us
        </a>
    </div>
    <div class="w-[12.5rem] absolute left-0 bottom-0 translate-y-[15.3%] xl:translate-y-0"><CTABG /></div>
</section>
