---
import Layout from "../../../layouts/Layout.astro";
import AskUs from "../../../components/Contact/AskUs/AskUs.astro";
---

<Layout noHeader={true}>
    <div>
        <AskUs />
    </div>
</Layout>
