---
import Footer from "../components/Shared/Footer/Footer.astro";
import GlobalStyles from "../components/Shared/GlobalStyles.astro";
import Header from "../components/Shared/Header/Header.astro";

export interface Props {
    title?: string;

    // Used to suppress header/skiplinks in our fixture pages.
    noHeader?: boolean;
}

const { title, noHeader } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <link rel="shortcut icon" href="/favicon-32x32.png" type="image/png" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,500;1,700&display=swap"
            rel="stylesheet"
        />
        <title>
            {title ? title + " - " : ""}Frontend Mentor myteam multi-page
            website
        </title>
    </head>

    <body class="bg-green-midnight text-white text-15p font-semibold min-h-screen flex flex-col">
        {!noHeader && (
        <div
            class="bg-green-dark p-6 text-center text-18p absolute top-0 left-0 right-0 z-50 -translate-y-full focus-within:translate-y-0 motion-safe:transition-transform motion-safe:ease-in-out"
        >
            <a href="#main-content">Skip to Main Content</a>
        </div>
        <div class="z-50">
            <Header />
        </div>
        )}
        <main id="main-content">
            <slot />
        </main>
        {!noHeader && <Footer />}
        <GlobalStyles />
    </body>
</html>

<style lang="postcss">
    
    :global(footer) {
        margin-top: auto;
    }
</style>