---
import Layout from "../../../../layouts/Layout.astro";
import FeatureCard from "../../../../components/Home/Features/FeatureCard.astro";
import Person from "../../../../components/Shared/Icons/Person.astro";
---

<Layout noHeader={true}>
    <div class="max-w-md-container">
        <FeatureCard
            text="Our network is made up of highly experienced professionals who are passionate about what they do."
            title="Experienced Individuals"
        >
            <Person slot="icon" />
        </FeatureCard>
    </div>
</Layout>
