---
import Layout from "../../../../layouts/Layout.astro";
import TestimonialCard from "../../../../components/Home/Testimonials/TestimonialCard.astro";
---

<Layout noHeader={true}>
    <div class="max-w-md-container">
        <TestimonialCard
            name="Kady Baker"
            jobTitle="Product Manager at Bookmark"
            quote="“The team perfectly fit the specialized skill set required. They focused on the most essential features helping us launch the platform eight months faster than planned.”"
            avatarURL="/images/avatar-kady.jpg"
        />
    </div>
</Layout>
