---
export interface Props {
    title: string;
    text: string;
}

const { title, text } = Astro.props as Props;
---

<div
    class="flex flex-col md:flex-row items-center md:items-start gap-4 md:gap-6"
>
    <div class="w-18 basis-18 shrink-0">
        <slot name="icon" />
    </div>

    <div class="space-y-2 md:space-y-4 text-center md:text-start">
        <h3 class="font-bold text-18p leading-28/18 text-red-coral">{title}</h3>
        <p class="font-semibold text-15p leading-25/15">{text}</p>
    </div>
</div>
